.body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 90vh;
    padding: 16px;
    overflow-y: hidden;
    
}
.sidebar{
    height: 83vh;
    width: 15%;
    border-radius: 16px;
    background-color: rgba(209, 209, 209, 0.36);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    justify-content: space-evenly;
}
.content{
    height: 83vh;
    width: 80%;
    border-radius: 16px;
    background-color: rgba(223, 222, 222, 0.641);
    padding: 16px;
    overflow-y: auto;
}